# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/

# IDE/editor
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Output / large files
output.json
input.pdf
*.pdf
